<div class="card">
    <div class="card-body">
        <h5 class="card-title">Danh sách người dùng đã đăng ký</h5>
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Số thứ tự</th>
                        <th>Tên tài khoản</th>
                        <th>địa chỉ mail</th>
                        <th>Số Điện thoại</th>
                        <th>Giới tính</th>
                        <th>Địa chỉ</th>
                        <th></th>
                    
                    </tr>
                </thead>
                <tbody>
                   
                     {{#each list}}
                    <tr>
                        <td>11</td>
                        <td>{{this.name}}</td>
                        <td>{{this.username}}</td>
                        <td>{{this.phone_number}}</td>
                        <td> {{#if user.sex}} name {{else}} Nữ {{/if}}</td>
                        <td>{{this.address}}</td>
                         
                        <td><button class="btn btn-primary" type="button" onclick="location.href='/edit_user_profile?q={{this._id}}'">Chỉnh sửa</button>
                            <button class="btn btn-primary" type="button">Xóa</button></td>
                        
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Số thứ tự</th>
                        <th>Tên tài khoản</th>
                        <th>địa chỉ mail</th>
                        <th>Số Điện thoại</th>
                        <th>Giới tính</th>
                        <th>Mật Khẩu</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

