<div class="card">
    <div class="card-body">
        <h5 class="card-title">Quản lí đơn đặt hàng</h5>
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Ngày đặt hàng</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each list}}
                    <tr>
                        <td>{{this._id}}</td>
                        <td>{{this.name}}</td>
                        <td id="date">{{this.date}}</td>
                        <td>{{this.status}}</td>
                        <td><button class="btn btn-primary" type="button"
                                onclick="location.href='/edit_order?id={{this._id}}'">Chi tiết</button></td>
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Ngày đặt hàng</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script>
    formatDate(date) => {

        let formatted_date = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds()
        return formatted_date;
    }
    $('#date').formatDate();
</script>