<html dir="ltr">

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    </link>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </meta>
    <link rel="icon" href="img/favicon.png" type="image/png">
    </link>
    <title>Thương mại điện tử Eiser</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    </link>
    <link rel="stylesheet" href="stylesheets/linericon/style.css">
    </link>
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    </link>
    <link rel="stylesheet" href="stylesheets/themify-icons.css">
    </link>
    <link rel="stylesheet" href="stylesheets/flaticon.css">
    </link>
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    </link>
    <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
    </link>
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
    </link>
    <link rel="stylesheet" href="vendors/animate-css/animate.css">
    </link>
    <link rel="stylesheet" href="vendors/jquery-ui/jquery-ui.css">
    </link>

    <link rel="stylesheet" href="stylesheets/linearicons.css">
    </link>
    <link rel="stylesheet" href="stylesheets/owl.carousel.css">
    </link>
    <link rel="stylesheet" href="stylesheets/nice-select.css">
    </link>
    <link rel="stylesheet" href="stylesheets/ion.rangeSlider.css">
    </link>
    <link rel="stylesheet" href="stylesheets/ion.rangeSlider.skinFlat.css">
    </link>

    {{!-- <link rel="stylesheet" href="stylesheets/main.css">
    </link> --}}
    <!-- main css -->
    <link rel="stylesheet" href="stylesheets/style.css">
    </link>
    <link rel="stylesheet" href="stylesheets/responsive.css">
    </link>
    <link href="asset?aid=0" rel="stylesheet">
    </link>
</head>

<body dir="ltr">
   
    <!--================Category Product Area =================-->
    <section class="cat_product_area section_gap">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                     <div>
                            <button type="button" class="btn btn-success" onclick="location.href='addproduct'">Thêm sản phẩm</button>
                        </div>
                    <div class="product_top_bar">
                       
                        <div class="left_dorp">
                            <select class="sorting" id="sort-selected" onchange="changeSort()">
                                <option value="1" {{#if is1}}selected{{/if}}>Giá tăng dần</option>
                                <option value="-1" {{#if is_1}}selected{{/if}}>Giá giảm dần</option>
                            </select>
                            <select id="limit-selected" onchange="changeLimit()" class="show">
                                <option value="6" {{#if is6}}selected{{/if}}>Hiển thị 6</option>
                                <option value="12" {{#if is12}}selected{{/if}}>Hiển thị 12</option>
                                <option value="20" {{#if is20}}selected{{/if}}>Hiển thị 20</option>
                                <option value="30" {{#if is30}}selected{{/if}}>Hiển thị 30</option>
                            </select>
                        </div>
                    </div>

                    <div class="latest_product_inner">
                        <div class="row">
                            {{#each list}}
                            <div class="col-lg-4 col-md-6">
                                <div class="single-product">
                                    <div class="product-img">
                                        <img class="card-img" src="{{this.img}}" alt="">
                                        <div class="p_icon" >
                                            <a href="single-product">
                                                <i class="ti-eye"></i>
                                            </a>
                                            <a href="#">
                                                <i class="lnr lnr-pencil"></i>
                                            </a>
                                            <a href="/deleteproduct?q={{this._id}}">
                                                <i class="lnr lnr-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-btm">
                                        <a href="#" class="d-block">
                                            <h4>{{this.name}}</h4>
                                        </a>
                                        <div class="mt-3">
                                            <span class="mr-4">$ {{this.price}}</span> <del> $ 35,00 </del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            <div class="col-lg-12 text-center">
                            <ul class="pagination justify-content-center">
                                {{#each array}}
                                <li class="page-item
                                {{#if isActive}}
                                active
                                {{/if}}
                                "><a class="page-link"
                                        onclick="addUrlParameter('skip',NumberSkip({{this.pagenum}}))">{{this.pagenum}}</a>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Danh mục</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a onclick="addUrlParameter('q','thoi_trang_nam')">Thời trang nam</a>
                                    </li>
                                    <li>
                                        <a onclick="addUrlParameter('q','thoi_trang_nu')">Thời trang nữ</a>
                                    </li>
                                    <li>
                                        <a onclick="addUrlParameter('q','giay')">Giày</a>
                                    </li>
                                    <li>
                                        <a onclick="addUrlParameter('q','do_uong')">Đồ uống</a>
                                    </li>
                                    <li>
                                        <a onclick="addUrlParameter('q','thuc_pham')">Thực phẩm</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets sidebar_box_shadow">
                        <div class="l_w_title">
                            <h3>Bộ lọc</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                <p style="font-size: 16px;">Thương hiệu</p>
                                <li>
                                    <a onclick="addUrlParameter('b','chanel')">- Chanel</a>
                                </li>
                                <li>
                                    <a onclick="addUrlParameter('b','gucci')">- Gucci</a>
                                </li>
                                <li >
                                    <a onclick="addUrlParameter('b','peaceminusone')">- Peaceminusone</a>
                                </li>
                                <li>
                                    <a onclick="addUrlParameter('b','nike')">- Nike</a>
                                </li>
                                <li>
                                    <a onclick="addUrlParameter('b','hm')">- H&M</a>
                                </li>
                            </ul>
                        </div>
                    </aside>

                        {{!-- <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Bộ lọc giá</h3>
                            </div>
                            <div class="widgets_inner">
                                <div class="range_item">
                                    <div id="slider-range"></div>
                                    <div class="">
                                        <label for="amount">Giá bán : </label>
                                        <input type="text" id="amount" readonly="">
                                    </div>
                                </div>
                            </div>
                        </aside> --}}
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Category Product Area =================-->
</body>

</html>

<script>
    function NumberSkip(page) {
        return (page - 1) * {{ lim }}
    };
</script>
<script>
    function addUrlParameter(name, value) {
        var searchParams = new URLSearchParams(window.location.search)
        searchParams.set(name, value)
        window.location.search = searchParams.toString()
    }
</script>
<script>
    function changeLimit() {
        const val = document.querySelectorAll("#limit-selected")[0].value;
        addUrlParameter("limit", val);
    }
    function changeSort() {
        const val = document.querySelectorAll("#sort-selected")[0].value;
        addUrlParameter("sort", val);
    }
</script>